In [1]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
#    search field.
#    You have to scrape 3 attributes of each sneaker:
#        1. Brand
#        2. ProductDescription
#        3. Price

In [1]:
#  IMPORTING REQUIRED LABRARIES

import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#  CONNECTING TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver.exe")

In [3]:
#  OPENING THE FLIPKART PAGE ON AUTOMATED CHROME BROWSER
driver.get("https://www.flipkart.com/")

In [4]:
#   ENTERING sneakers  AS REQUIRED 
sneakers = driver.find_element (By.CLASS_NAME,"_3704LK")
sneakers.send_keys (' sneakers ')

In [5]:
#  CLICKING SEARCH BUTTON 
search = driver.find_element (By.CLASS_NAME,"L0Z3Pu")
search.click()

In [6]:
# CREATING EMPTY LIST
BRANDS = []
PRODUCT_DESCRIPTION = []
PRICE = []

In [7]:
#  SCRAPING ALL BRANDS IN ONE GO
BRANDS = []
start = 0
end   = 3
for page in range (start,end):
    brnd = driver.find_elements (By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd[0:100]:
        BRANDS.append (i.text)
    next_button = driver.find_elements (By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    time.sleep(3)

In [11]:
#  SCRAPING ALL PRODUCT_DESCRIPTION IN ONE GO
PRODUCT_DESCRIPTION = []
start = 0
end   = 3

for page in range (start,end):
    prd = driver.find_elements (By.XPATH,'//div[@class="_2B099V"]')
    for i in prd[0:100]:
        PRODUCT_DESCRIPTION.append (i.text.split(" ")[1])
    next_button = driver.find_elements (By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    time.sleep (3)

In [9]:
#  SCRAPING ALL PRICES IN ONE GO
PRICES = []
start = 0
end   = 3
for page in range (start,end):
    prc = driver.find_elements (By.XPATH,'//div[@class="_30jeq3"]')
    for i in prc[0:100]:
        PRICES.append (i.text)
    next_button = driver.find_elements (By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    time.sleep (3)

In [12]:
#  PRINTING LENGHT OF ELEMENTS
print (len(BRANDS),len(PRODUCT_DESCRIPTION),len(PRICES))

120 120 120

In [14]:
# MAKING DATA FRAME AND DISPLAY IN DATA FRAME FORMAT
df = pd.DataFrame ({'BRANDS':BRANDS,'PRODUCT_DESCRIPTION':PRODUCT_DESCRIPTION,'PRICES':PRICES})
df.head(100)

         BRANDS PRODUCT_DESCRIPTION  PRICES
0   New Balance        Balance\n500  ₹3,583
1   New Balance        Balance\n327  ₹3,504
2           SFR             Trenddy    ₹299
3        Kraasa                 For    ₹299
4          aadi             Leather    ₹399
..          ...                 ...     ...
95        BIRDE              Casual    ₹299
96  New Balance        Balance\n500  ₹3,540
97  New Balance        Balance\n373  ₹4,903
98         aadi           off\nFree    ₹349
99          SFR                 For    ₹279

[100 rows x 3 columns]