In [1]:
#  Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
#      have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
#      jobs data.

In [2]:
# INSTALLING SELENIUM PACKAGE
! pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Collecting selenium
  Downloading selenium-4.8.3-py3-none-any.whl (6.5 MB)
     ---------------------------------------- 6.5/6.5 MB 2.1 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     -------------------------------------- 384.9/384.9 kB 2.0 MB/s eta 0:00:00
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.2-py3-none-any.whl (17 kB)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.1-py3-none-any.whl (14 kB)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB 3.0 MB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.1 h11-0.14.0 outcome-1.2.0 selenium-4.8.3 trio-0.22.0 trio-websocket-0.10.2 wsproto-1.2.0

In [1]:
#  IMPORTING REQUIRED LABRARIES

import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#  CONNECTING TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver.exe")

In [3]:
#  OPENING THE NAUKRI PAGE ON AUTOMATED CHROME BROWSER
driver.get("https://www.naukri.com/")

In [4]:
#  CREATING EMPTY LIST

JOB_TITLE     = []
JOB_LOCATION  = []
COMPANY_NAME  = []
EXPERIENCE_REQUIRED = []

In [5]:
#   ENTERING DESIGNATION AS REQUIRED 
designation = driver.find_element (By.CLASS_NAME,"suggestor-input")
designation.send_keys ('Data Analyst')

In [6]:
#   ENTERING LOCATION AS REQUIRED 
location = driver.find_element (By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
#  CLICKING SEARCH BUTTON 
search = driver.find_element (By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
# SCRAPING JOB TITLES IN ONE GO
Job_desig = driver.find_elements (By.XPATH,'//a[@class="title ellipsis"]')
for i in Job_desig [0:10]:
    Jobs = i.text
    JOB_TITLE.append(Jobs)
    
    

# SCRAPING JOB LOCATIONS IN ONE GO
Job_loc = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in Job_loc [0:10]:
    location = i.text
    JOB_LOCATION.append (location)
    
    
    
# SCRAPING COMPANY NAMES IN ONE GO
com_nm = driver.find_elements (By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_nm [0:10]:
    companies = i.text
    COMPANY_NAME.append (companies)
    
    
    
# SCRAPING EXPERIENCE REQUIRED IN ONE GO
exp_req = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_req [0:10]:
    experience = i.text
    EXPERIENCE_REQUIRED.append (experience)

In [11]:
# PRINTING LENGHT IN ONE GO
print (len(JOB_TITLE),len(JOB_LOCATION),len(COMPANY_NAME),len(EXPERIENCE_REQUIRED))

10 10 10 10

In [12]:
# MAKING DATA FRAME AND DISPLAYING IN DATA FRAME FORMAT

df = pd.DataFrame ({'ALL_TITLES':JOB_TITLE,'ALL_LOCATIONS':JOB_LOCATION,'ALL_COMPANIES':COMPANY_NAME,'ALL_EXPERIENCE':EXPERIENCE_REQUIRED})
df

,ALL_TITLES,ALL_LOCATIONS,ALL_COMPANIES,ALL_EXPERIENCE
0,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,ExcelHER-Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
8,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
9,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs