In [6]:
#  Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#      You have to use the location and salary filter.
#      You have to scrape data for “Data Scientist” designation for first 10 job results. 
#      You have to scrape the job-title, job-location, company name, experience required.
#      The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [22]:
# IMPORTING REQUIRED LABLARIES
import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [23]:
#  CONNECTING TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver.exe")

In [24]:
#  OPENING THE NAUKRI PAGE ON AUTOMATED CHROME BROWSER
driver.get("https://www.naukri.com/")

In [25]:
#   ENTERING DESIGNATION AS REQUIRED 
designation = driver.find_element (By.CLASS_NAME,"suggestor-input ")
designation.send_keys ('Data Scientist')

In [28]:
location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input ")
location_delhi.send_keys ('Delhi/NCR')

In [29]:
#  CLICKING SEARCH BUTTON 
search = driver.find_element (By.CLASS_NAME,"qsbSubmit")
search.click()

In [30]:
# CREATING EMPTY LIST

JOB_TITLES          = []
JOB_LOCATIONS       = []
COMPANY_NAMES       = []
EXPERIENCE_REQUIRED = []

In [31]:
# SCRAPING JOB TITLES IN ONE GO
job_desig = driver.find_elements (By.XPATH,'//a[@class="title ellipsis"]')
for i in job_desig [0:10]:
    Jobs = i.text
    JOB_TITLES.append (Jobs)
    
    
    
# SCRAPING JOB LOCATIONS IN ONE GO
job_loc = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in job_loc [0:10]:
    location = i.text
    JOB_LOCATIONS.append (location)
    
    
    
# SCRAPING COMPANY NAMES IN ONE GO
com_nm = driver.find_elements (By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_nm [0:10]:
    companies = i.text
    COMPANY_NAMES.append (companies)
    
    
    
# SCRAPING EXPERIENCE REQUIRED IN ONE GO
exp_rq = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_rq [0:10]:
    experience = i.text
    EXPERIENCE_REQUIRED.append (experience )

In [32]:
# PRINTING LENGHT IN ONE GO
print (len(JOB_TITLES),len(JOB_LOCATIONS),len(COMPANY_NAMES),len(EXPERIENCE_REQUIRED))

10 10 10 10

In [33]:
# MAKING DATA FRAME AND DISPLAY IN DATA FRAME FORMAT
df = pd.DataFrame ({'JOB_TITLES':JOB_TITLES,'JOB_LOCATIONS':JOB_LOCATIONS,'COMPANY_NAMES':COMPANY_NAMES,'EXPERIENCE_REQUIRED':EXPERIENCE_REQUIRED})
df

,JOB_TITLES,JOB_LOCATIONS,COMPANY_NAMES,EXPERIENCE_REQUIRED
0,Data Science Professional - IBM SPSS Statistic...,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",Hexaware Technologies,5-8 Yrs
1,Senior data scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,4-8 Yrs
2,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,5-11 Yrs
3,Data Scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,3-7 Yrs
4,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Fortuna Entertainment Group,5-8 Yrs
6,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
7,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Tech Mahindra,5-10 Yrs
8,Senior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Corporate Steps,5-10 Yrs
9,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs