In [2]:
#  Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
#     have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#     This task will be done in following steps:
https://www.naukri.com/

In [3]:
#  IMPORTING ALL REQUIRED LABRARIES

import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
#  CONNECTING TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver.exe")

In [5]:
#  OPENING THE NAUKRI PAGE ON AUTOMATED CHROME BROWSER
driver.get("https://www.naukri.com/")

In [6]:
#   ENTERING DESIGNATION AS REQUIRED 
designation = driver.find_element (By.CLASS_NAME,"suggestor-input")
designation.send_keys ('Data Scientist')

In [7]:
#   ENTERING LOCATION AS REQUIRED 
location = driver.find_element (By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [8]:
#  CLICKING SEARCH BUTTON 
search = driver.find_element (By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
# CREATING EMPTY LIST
JOB_TITLES     = []
JOB_LOCATIONS  = []
COMPANY_NAMES  = []

In [10]:
# SCRAPING JOB TITLES IN ONE GO
job_nm = driver.find_elements (By.XPATH,'//a[@class="title ellipsis"]')
for i in job_nm [0:10]:
    jbs = i.text
    JOB_TITLES.append (jbs)
    
    
    
# SCRAPING JOB LOCATIONS IN ONE GO
job_loc = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in job_loc [0:10]:
    location = i.text
    JOB_LOCATIONS.append (location)
    
    
    
# SCRAPING COMPANIES NAME IN ONE GO
com_name = driver.find_elements (By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_name [0:10]:
    companies = i.text
    COMPANY_NAMES.append (companies)

In [12]:
#  PRINTING LENGHTS IN ONE GO
print (len(JOB_TITLES),len(JOB_LOCATIONS),len(COMPANY_NAMES))

10 10 10

In [13]:
# MAKING DATA FRAME AND DISPLAY IN DATA FRAME FORMAT 

df = pd.DataFrame ({'ALL_TITLES':JOB_TITLES,'ALL_LOCATIONS':JOB_LOCATIONS,'ALL_COMPANIES':COMPANY_NAMES})
df

,ALL_TITLES,ALL_LOCATIONS,ALL_COMPANIES
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
8,Data Scientist,Bangalore/Bengaluru,IBM
9,Data Scientist,Bangalore/Bengaluru,IBM