In [6]:
#  Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#      You have to use the location and salary filter.
#      You have to scrape data for “Data Scientist” designation for first 10 job results. 
#      You have to scrape the job-title, job-location, company name, experience required.
#      The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [1]:
# IMPORTING REQUIRED LABLARIES
import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#  CONNECTING TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver.exe")

In [3]:
#  OPENING THE NAUKRI PAGE ON AUTOMATED CHROME BROWSER
driver.get("https://www.naukri.com/")

In [4]:
#   ENTERING DESIGNATION AS REQUIRED 
designation = driver.find_element (By.CLASS_NAME,"suggestor-input ")
designation.send_keys ('Data Scientist')

In [5]:
#  CLICKING SEARCH BUTTON 
search = driver.find_element (By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
# code to filter location 

location_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")

location_filter1.click()

In [7]:
# code to filter salary 

salary_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p")

salary_filter1.click()

In [8]:
# CREATING EMPTY LIST

JOB_TITLES          = []
JOB_LOCATIONS       = []
COMPANY_NAMES       = []
EXPERIENCE_REQUIRED = []

In [9]:
# SCRAPING JOB TITLES IN ONE GO
job_desig = driver.find_elements (By.XPATH,'//a[@class="title ellipsis"]')
for i in job_desig [0:10]:
    Jobs = i.text
    JOB_TITLES.append (Jobs)
    
    
    
# SCRAPING JOB LOCATIONS IN ONE GO
job_loc = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in job_loc [0:10]:
    location = i.text
    JOB_LOCATIONS.append (location)
    
    
    
# SCRAPING COMPANY NAMES IN ONE GO
com_nm = driver.find_elements (By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_nm [0:10]:
    companies = i.text
    COMPANY_NAMES.append (companies)
    
    
    
# SCRAPING EXPERIENCE REQUIRED IN ONE GO
exp_rq = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_rq [0:10]:
    experience = i.text
    EXPERIENCE_REQUIRED.append (experience )

In [10]:
# PRINTING LENGHT IN ONE GO
print (len(JOB_TITLES),len(JOB_LOCATIONS),len(COMPANY_NAMES),len(EXPERIENCE_REQUIRED))

10 10 10 10

In [11]:
# MAKING DATA FRAME AND DISPLAY IN DATA FRAME FORMAT
df = pd.DataFrame ({'JOB_TITLES':JOB_TITLES,'JOB_LOCATIONS':JOB_LOCATIONS,'COMPANY_NAMES':COMPANY_NAMES,'EXPERIENCE_REQUIRED':EXPERIENCE_REQUIRED})
df

,JOB_TITLES,JOB_LOCATIONS,COMPANY_NAMES,EXPERIENCE_REQUIRED
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,MLOps - Data Scientist,Noida,Paytm,3-8 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
6,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
9,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs